<p>
    <mat-toolbar>
        <span>New Post:</span>
    </mat-toolbar>
</p>

<div>
    <h2 style="text-align: center;">Title: {{recepdata.title}}</h2>
    <h2 style="text-align: center;">Body: {{recepdata.body}}</h2>
    <h2 style="text-align: center;">UserId: {{recepdata.userId}}</h2>
    <h2 style="text-align: center;">Id : {{recepdata.id}} ->> Nuevo</h2>
</div>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Exit</button>
  </mat-dialog-actions>

